<mat-card [ngStyle]="{'background-color' : data.note.color}" class="mat">

  <div fxLayout="row">
      <div>
          <span> <input style="border: none; outline: none;font-size:x-large ;" [ngStyle]="{'background-color' : data.note.color}"
                 type="text" id="ntitle" value="{{data.note.title}}" placeholder="update Title" #title > </span>
      </div>
      <app-pin [notes]="data.note"></app-pin>
  </div>
  <div>
      <span> <input style="border: none; outline: none;font-size: medium;" [ngStyle]="{'background-color' : data.note.color}"
              type="text" id="titles" value="{{data.note.description}}" placeholder="update Description" #description > </span>
            </div>
      <div fxLayout="row" class="updateicon">
          <app-newicon></app-newicon>
          <button mat-button mat-dialog-close  (click)="updateNote(data.note.id,title.value, description.value )" id="updatesave">Close</button>
      </div>
  
</mat-card>
