<mat-card class="card" [ngStyle]="{'background-color':notes.color}">
    <div class="pin">
        <div class="title">
            <app-pin *ngIf="!notes.bin" [notes]="notes"></app-pin>
        </div>
    </div>

    <div class="example-title" (click)="Update(notes)">
        {{notes.tittle}}
    </div>
    <div class="example-des" style="padding: 0px;" (click)="Update(notes)">
        {{notes.description}}
    </div>
    <div fxLayout="row">
        <div *ngFor="let label of labels">
            <div fxLayout="row" *ngIf="label.nodeid==notes.id">
                <button matTooltip="Remove label" fxLayout="row" class="remove" (click)="delete(label.id)">
                    <strong> {{label.labelname}} </strong>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="chip-list" fxLayout="row" *ngIf="notes.reminder!=null">
        <!-- {{notes.reminder}} -->
        <mat-chip-list >
        <mat-chip matTooltip="Delete Reminder" [ngStyle]="{'background-color' : notes.color}"
            style="border: none;outline: none;background-color:lightgoldenrodyellow">
            <mat-icon matChipRemove class="example-time" style="margin-right: 8px;" >access_time</mat-icon>
            {{notes.reminder}}
            <mat-icon (click)="deleteReminder(notes.id)">close</mat-icon>
        </mat-chip>
    </mat-chip-list>
    </div>
    <app-newicon [notes]="notes"></app-newicon>
</mat-card>
