<div *ngIf="notes.length <= 0" fxLayout="row" fxLayoutAlign="end center" >
    <mat-icon class="exmple-archive">notifications</mat-icon>
  <!--  <img class="exmple-archive" src = "../../../assets/image//reminder.svg"> -->
    <div class="example-text">Notes with upcoming reminders appear here!!</div>
   </div>
   <div class="example-text1" fxLayout="{{Reminder}}" fxFlex="90" fxLayoutAlign="center center">
    <div *ngFor="let note of notes">
        <div class="example-main">
            <mat-card fxFlex="100" class="exmple-card" [ngClass]="{'cardGridView':Reminder=='row wrap','cardListView':Reminder=='column wrap'}" fxFlex.xs=
            "100" [style.backgroundColor]="note.color">
            <div>
                <div fxFlex="80" class="exmple-tilte">
                    {{note.Title}}
                </div>
            </div>
            <mat-card-content fxLayout="column">
                <div class="dis">
                    {{note.Description}}
                </div> 
            <mat-card-footer>
              <mat-chip-list class="chip-list">
  
                <mat-chip class="reminder" style="margin-left: 10px;" *ngIf="note.reminder">
                  <mat-icon matChipRemove class="example-time" style="margin-right: 8px;">access_time</mat-icon>
                  <span class="example-show">{{note.reminder}}</span>
                  <mat-icon matChipRemove class="example-remove" (click)="removeReminder(note)">close </mat-icon>
                </mat-chip>
              </mat-chip-list>
              <div class="final">
                <app-editcard></app-editcard>
              </div>
            </mat-card-footer>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
