<div *ngIf="param=='notes'">
    <app-getnote></app-getnote>
    <div style="padding-left: 255px;">
        <h5>PINNED</h5>
    </div>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-editcard *ngIf="!note.bin&&!note.archive&&note.pin=='1'" [param]="param"
                 [labels]="labelNotes" [notes]="note"></app-editcard>
            </div>
        </div>
    </div>
    <br>
    <!-- OTHERS -->

    <div style="padding-left: 255px;">
        <br>
        <h5>OTHERS</h5>
    </div>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  fxLayout="row"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-editcard *ngIf="!note.bin&&!note.archive&&!note.pin"  [param]="gridView" [labels]="labelNotes" [notes]="note">
                </app-editcard>
            </div>
        </div>
    </div>
</div>

<div *ngIf="param=='archive'">
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-editcard *ngIf="!note.bin&&note.archive"  [param]="gridView"
                 [labels]="labelNotes" [notes]="note"></app-editcard>
            </div>
        </div>
    </div>
</div>

<div *ngIf="param=='trash'">
    <br><br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"  style="flex-direction: row;
         box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <app-editcard *ngIf="note.bin=='1'"  [param]="gridView" [labels]="labelNotes" [notes]="note"></app-editcard>
            </div>
        </div>
    </div>
</div>
<div *ngIf="param=='reminder'">
    <app-getnote></app-getnote>
    <br>
    <div style="flex-wrap: wrap;">
        <div class={{gridView}}  fxLayout={{gridView}} fxFlexOffset="15"
            style="box-sizing: border-box; display: flex; margin-left: 5%;">
            <div *ngFor="let note of allnotes" class="space">
                <div *ngIf="note.reminder!=null">
                    <app-editcard *ngIf="!note.bin&&!note.archive"  [param]="gridView" [labels]="labelNotes" [notes]="note"></app-editcard>
                </div>
            </div>
        </div>
    </div>
</div>
