<mat-card class="card">
    <h1>
        <span class="green">W</span>
        <span class="red">E</span>
        <span class="blue">L</span>
        <span class="green">C</span>
        <span class="red">O</span>
        <span class="green">M</span>
        <span class="blue">E</span>
        <br>
        <span class="red">T</span>
        <span class="blue">O</span>
        <br>
        <span class="green">F</span>
        <span class="red">U</span>
        <span class="blue">N</span>
        <span class="green">D</span>
        <span class="red">O</span>
        <span class="green">O</span>
        <br>
        <span class="green">A</span>
        <span class="red">P</span>
        <span class="blue">P</span>
    
    </h1>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
</mat-card>
