
 <div fxFlex="100" style="height:300px;width: 230px;  min-height: 250px;">
    <div>
        <div mat-subheader style="display: block;">Edit labels</div> 
    </div><br>
        <div fxLayout="row" >
            <mat-icon mat-dialog-close matTooltip="cancel">close</mat-icon>
            <input matInput  class="create" style="border: none; outline: none; width:3cm;height:0.7cm"
                placeholder="Create new label " value="" #data autocomplete="off"> <br>
            <mat-icon matTooltip="create"  mat-dialog-close (click)="createLabels(data.value)" class="check" >check</mat-icon>
        </div>
        <mat-divider class="divider"></mat-divider>
        <br>
        <label *ngFor="let lab of allLabelNames" fxLayout="coloum">
            <div fxLayout="row">
                <mat-icon matTooltip="Delete Label" (click)="deleteLabel(lab.id)"  mat-dialog-close > label</mat-icon>
                <input style="border: none; outline: none; width:3cm;" *ngIf="edit"
                    value="{{lab. labelName}}">
                <a *ngIf="!edit" style="width:3cm"><span> {{lab. labelName}}</span></a>
                <mat-icon (click)=editLabel() matTooltip="Rename Label" class="check1" >edit</mat-icon>
            </div>
            <br>
        </label>
    <br>
    <mat-divider class="divi"></mat-divider>
    <br>
    <div>
    <button mat-button mat-dialog-close class="end"  matTooltip="close">Done</button>
    </div>
 </div>
