.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SelectCards{
    width: 22em;
    height: 10em;
    margin: 10px;
    cursor: pointer;
}

.SelectCards:hover {
    transform: scale(1.05);
}
h1{
    font-weight: 500;
}
h2{
    font-weight: 500;
    color: green($color: #000000);
}

.highlight{
    background: lightblue;
  }
  
  .not-highlight{
    background:lightcoral;
  }
  .aa{
    font-weight: 500;
    font-family: Cambria, Cochin, 'Times New Roman';
    font-size: 15px;
    color:red;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.login{
    justify-content: center;
    display: flex;
    margin-top: 1em; 
}
.example-button-row {
    text-align: center;
}


