<div>
  <div style="padding-left: 15px;padding-top: 10px;" fxLayout="row">
<div class="colorlist">
  <a>      
      <button mat-icon-button  matTooltip="Remind Me" class="{{param}}">
        <mat-icon    class="edit">add_alert</mat-icon>
    </button>
    <button mat-icon-button matTooltip="collaborator" (click)="collaborator()" class="{{param}}">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="colorlist" class="{{param}}" matTooltip="Add Color">
        <mat-icon>palette</mat-icon>
    </button>
      <button mat-icon-button class="button" (click)="addImage(data)" matTooltip="Add image">
        <mat-icon class="icon">add_photo_alternate</mat-icon>
      </button>
      <button mat-icon-button  class="{{param}}" *ngIf="!data.archive" (click)="addArchive()" matTooltip="Archive">
        <mat-icon class="icon">archive</mat-icon>
      </button>
      <button mat-icon-button class="{{param}}" *ngIf="data.archive" (click)="removeArchive()" matTooltip="Unarchive">
        <mat-icon class="icon" >unarchive</mat-icon>
      </button>
      <mat-icon [matMenuTriggerFor]="menus" class="{{param}}" matTooltip="more">more_vert</mat-icon>
  </a>
</div>
<div fxLayout="row">
  <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
          <div>
              <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px"
                  *ngFor="let colors of arrayofColors">
                  <div *ngFor="let color of colors">
                      <button [ngStyle]="{'background-color': color.color}"
                          (click)="setcolor(notes.id, color.color)" matTooltip="{{ color.name }}"
                          mat-mini-fab></button>

                  </div>
              </div>
          </div>
      </ng-template>
  </mat-menu>
</div>
<mat-menu #menus="matMenu">
  <button mat-menu-item (click)="deleteNote(notes.id)">
    <span>Delete note</span>
  </button>
  <button mat-menu-item (click)="addlabel(notes)">
    <span>Add label</span>
  </button>
  <button mat-menu-item >
    <span>Add drawing</span>
  </button>
  <button mat-menu-item>
    <span>Make a copy</span>
  </button>
  <button mat-menu-item>
      <span>show tick boxes</span>
  </button>
</mat-menu>
<mat-menu #addMenu="matMenu">
  Label Note
  <div *ngFor="let label of labels">
    <input class="notranslate" maxlength="50" placeholder="Enter label name" formControlName="labelInput" aria-label="Enter label name">
    <section class="example-section" (click)="$event.stopPropagation();">
     
       <mat-checkbox class="example-margin" [formControl]="checked" (click)="checkBox(labels)"></mat-checkbox>
      {{label.labelname}}
    </section>
  </div>
</mat-menu>
</div>
</div>

