.card {
    background-color: rgb(228, 235, 217);
    height: 60%;
    width: 35%;
    margin: 0 auto;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

h2 {
    text-align: center;
}

.example-button-row {
    text-align: center;
}
