<mat-card class="card">
    <div class="examples">
    <div class="SelectCards">
    <mat-card class="example-card" (click)="basicCard()" [ngClass]="{'highlight' : selected, 'not-highlight' : !selected}">
        <h1>₹40</h1>
        <h2>Display Basic:</h2>
        <div> Support for Login</div>
      </mat-card>
      <mat-card class="example-card" (click)="advanceCard()" [ngClass]="{'highlight' : !selected, 'not-highlight' : selected}">
        <h1>₹90</h1>
        <h3>Advance Service:</h3>
       <div>Support for  Notes,Label,Collaborations.</div>
      </mat-card>
    </div>
    <div class="login">
        <div class="aa" routerLink="/login">Login</div>
       <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="next()">Next</button>
        </div>
        
    </div>
</div>
</mat-card>
